@font-face {
    font-family: 'choco_cookyregular';
    src: url('fonts/chococooky-webfont.woff2') format('woff2'),
        url('fonts/chococooky-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}