{% extends "base.html" %}

{% block kemosi %}
  
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <p>Already have an account? <a href="{% url 'accounts:login' %}">Login here</a></p>
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form  %}
                  <div class="form-group">
                      {{field.errors}}
                      {{field.label_tag}}
                      {{field}}
                  </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="submit">
                </form>
        </div>
    </div>
</div>

{% endblock kemosi %}