{% extends "base.html" %}

{% block kemosi %}
{% include "aboutnavbar.html" %}


<br><br>
<h1 class="text-center" style="font-family: 'choco_cookyregular' ">About Us</h1> 
<br>
<div class="container">
  <div class="row">
      <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <h3 class="text-left" style="font-family: 'choco_cookyregular'; font-size: 40px">Who we are</h3>
    </div>
    <div class="col-sm-4">
      <p style="font-family: 'Raleway'">
        FREELIFE  is a non-profit organization focusing on providing help on suicide prevention, 
        substance abuse &amp; addiction, gender based violence and among others by offering 
        emotional support to those who may be in distress and therefore in danger of being is any of 
        the said situations as well as creating awareness within communities. It is so far, 
        one of the few  organizations i with a specific focus on suicide prevention, 
        depression &amp; prevention and substance use &amp; addiction.
      </p>
    </div>
    <div class="col-sm-2"></div>
  </div>

<br><br><br>

<div class="row">

  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <p style="font-family: 'choco_cookyregular'; font-size:40px">Our Vision</p>
  </div>

  <div class="col-sm-4">
    <p style="font-family: 'Raleway'">A society in which fewer people thrive with no 
    depression, drug addiction, gender based vioelnce and attempted suicide.</p>
  </div>
  <div class="col-sm-2"></div>
</div>

<br><br>

<div class="row">

  <div class="col-sm-2"></div>
  <div class="col-sm-4"
    <p style="font-family: 'choco_cookyregular'; font-size:40px">Our Mission</p>
  </div>

  <div class="col-sm-4">
    <p style="font-family: 'Raleway'">To provide confidential emotional support
    for people who are experiencing feelings of distress or
    despair and through focused programs create awareness
    among people</p>
  </div>
  <div class="col-sm-2"></div>
</div>
</div>

{% endblock kemosi %}