{% extends "base.html" %}

{% block kemosi %}

{% include "contactnavbar.html" %} 

<div style="padding-top:40px;padding-bottom:40px;">
	<div class="text-center" style="font-size:60px;color:black;font-weight:200;font-family:'Raleway'">
			<span class="fa fa-laptop"></span>&nbsp;&nbsp;<strong>Contact</strong>
	</div>
</div>


	<div class="container" id="imgtestimonial" style="background-color:#fbfbfb;">
				
				<div class="row" style="padding-top:40px;padding-bottom:40px">
				<div class="col-sm-4" style="margin-bottom:20px">
				<div>
				<p class="text-center" style="font-family:'Raleway';font-size:70px;color:black;font-weight:100"> Freelife</p>
				<div>
				<p class="text-center" style="color:black;font-family:'Raleway';">P.O BOX 140-00518, Nairobi, KENYA.</p>
				<p class="text-center" style="color:black;font-family:'Raleway';">Opposite Co-operative Bank</p>
				
	</div>
	</div>
	</div>
	
	
					<div class="col-sm-4" style="margin-bottom:20px">
					
					<br>
					
					
					<p class="text-center" style="color:black;font-family:'Raleway';"><a href="http://twitter.com/@FreeLife/"><span class="abc-icon-twitter text-center text-muted" style="padding-top:20px;padding-right:10px;color:black"></span> <span style="color:black;!important text-decoration:none">&nbsp;Twitter</span></a></p>
					
					<p class="text-center" style="color:black;font-family:'Raleway';"><a href="http://facebook.com/FreeLife/"><span class="abc-icon-facebook text-center text-muted" style="padding-top:20px;padding-right:10px;color:black"></span> <span style="color:black;!important">&nbsp;Facebook</span></a></p>
					
					<p class="text-center" style="color:black;font-family:'Raleway';"><a href="http://instagram.com/FreeLife/"><span class="abc-icon-instagram text-center text-muted" style="padding-top:20px;padding-right:10px;color:black"></span> <span style="color:black;!important">&nbsp;Instagram</span></a></p>
					
					<p class="text-center" style="color:black;font-family:'Raleway';"><a href="http://plus.google.com/FreeLife/"><span class="abc-icon-circle-google-plus text-center text-muted" style="padding-top:20px;padding-right:10px;color:black"></span> <span style="color:black;!important">&nbsp;Google Plus</span></a></p>
					
					</div>
	
					<div class="col-sm-4" style="margin-bottom:20px">
					<br>
					<p class="text-center" style="color:black;font-family:'Raleway';">Phone: +254 727169575 or +254 732653457</p>
					<p class="text-center" style="color:black;font-family:'Raleway';">Email: <a href="mailto:info@freelife.com" style="color:black;!important">info@freelife.com</a></p>
					
					</div>
	
	
	</div>
	</div>
	

{% endblock kemosi %}