{% extends "base.html" %}

{% block kemosi %}
<div class="container">
        
        <br><br><br><br><br>
        <div class="row">
            <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <p class="text-center">Are you sure you want to delete <br><b>{{cent.name_of_center}}</b> ?</p>
                            <center>
                                <form action = "" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger"><span style="font-family:'Raleway'">Yes</span></button>
                                </form><br>
                                <a href="{% url 'mainapp:center' %}"><button class="btn btn-success">No</button></a>
                            </center>
                    </div>
                </div>
            <div class="col-sm-4"></div>
            </div>        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>

{% endblock kemosi %}